<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scetasj.universitydatabase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityDatabase">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_department"
            android:theme="@style/Theme.UniversityDatabase.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>